<main class="showcase">
  <article class="nft">
  <div class="img-wrap">
    <img src="/assets/image-equilibrium.jpg" alt="Image Equilibrium">
    <span class="view-icon"></span>
  </div>

  <h1 class="nft--title">Equilibrium #3429</h1>

  <p class="nft--description">
    Our Equilibrium collection promotes balance and calm.
  </p>

  <div class="nft--details">
    <span class="eth" data-icon="eth">0.041 ETH</span>
    <span class="duration" data-icon="duration">3 days left</span>
  </div>

  <div class="nft--creation" data-avatar="author">Creation of <span class="author">Jules Wyvern</span></div>
</article>
</main>